name: Continuous Integration and Delivery

on:
  schedule:
    - cron: '0 0 1 * *' # Runs at 00:00 on the 1st day of every month
  push:
    branches:
      - 'master'
      - 'main'
  workflow_dispatch: # Allows manual triggering

jobs:
  phase-1:
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: minimal
            dockerfile: minimal/Dockerfile
          - image: binder
            dockerfile: binder/Dockerfile
          - image: osgeo
            dockerfile: osgeo/Dockerfile
          - image: qgis
            dockerfile: qgis/Dockerfile
          - image: python
            dockerfile: python/Dockerfile
    uses: ./.github/workflows/build-docker.yml
    with:
      image: ${{ matrix.image }}
      dockerfile: ${{ matrix.dockerfile }}
    secrets: inherit

  phase-2:
    needs: phase-1
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: suggests
            dockerfile: suggests/Dockerfile
          - image: rocker-rpy
            dockerfile: rocker-rpy/Dockerfile
          - image: pythonr
            dockerfile: pythonr/Dockerfile
          - image: latest
            dockerfile: Dockerfile
    uses: ./.github/workflows/build-docker.yml
    with:
      image: ${{ matrix.image }}
      dockerfile: ${{ matrix.dockerfile }}
    secrets: inherit

  phase-3:
    needs: phase-2
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: rust
            dockerfile: rust/Dockerfile
          - image: buildbook
            dockerfile: buildbook/Dockerfile
          - image: rocker-rpyjl
            dockerfile: rocker-rpyjl/Dockerfile
    uses: ./.github/workflows/build-docker.yml
    with:
      image: ${{ matrix.image }}
      dockerfile: ${{ matrix.dockerfile }}
    secrets: inherit

  update-readme:
    needs: [phase-1, phase-2, phase-3]
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' # Only run this on the scheduled run
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_FOR_PUSH }} # A PAT with repo scope is needed

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Install R dependencies
        run: R -e "install.packages(c('rmarkdown', 'gert'))"

      - name: Run cron script to update README.Rmd
        run: Rscript -e "rmarkdown::render('README.Rmd')"
        env:
          GITHUB_PAT: ${{ secrets.PAT_FOR_PUSH }}

      - name: Commit and push README.md
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add README.md
          git commit -m "docs: render README.md from Rmd [skip ci]" || echo "No changes to commit"
          git push || echo "No changes to push"